/*  OBSERVATORIO COVID-19 BR */
/* Designed by Rafael Badain */

/* NAVBAR */
.navbar {
    box-shadow: 0 7px 6px 0 rgba(128, 128, 128, 0.05)!important;
    border-bottom: solid 1px #f1f1f1!important;
    background-color: #fff!important;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

#navbarDropdown {
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
    margin: 0.2rem 0 0;
    font-weight: 500;
}

.navbar-logo {
    height: 45px;
}

.navbar-brand {
    margin-right: auto!important; /*Fixes logo on the rigth*/
}

.navbar-light .navbar-toggler {
    border-color: transparent!important;
}

@media (max-width: 390px) {
    .navbar-logo {
        height: 33px!important;
    }
    .nav-link {
        padding: .5rem 0.25rem!important;
    }
}

@media (max-width: 575.98px) { 
    .navbar-toggler {
        padding: .25rem .75rem .25rem 0;
    }
}

@media (min-width: 1200px) {
    .navbar-brand {
       margin-left: .25rem;
    }
}

/* PAGE TITLE & UPDATE DATE */
#page-title {
    margin-left: 1.3rem;
}
.display {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .display {
        font-size: 2.5rem;
        display: flex;
        flex-direction: column!important;
    }
}

#update {
    font-family: 'Poppins', sans-serif;
    font-size: .85rem;
}

/* CARDS */
.card {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: .85rem;
    padding: 1.25rem;
}

.card-columns {
    margin: 1rem!important;
}

@media (min-width: 1200px) {
    .card-columns-1 {
        column-count: 1;
        width: 65%;
        margin: 1rem auto;
    }
    .card-columns-1 .card {
        display: inline-block;
        width: 100%;
        margin-bottom: .75rem;
    }
    .card-columns-2 {
        column-count: 2;
    }
    .card-columns-2 .card {
        display: inline-block;
        width: 100%;
        margin-bottom: .75rem;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .card-columns {
        column-count: 1;
    }
}

/* Small devices (large devices, 992px and up) to (extra large devices, up to 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .card-columns {
        column-count: 2;
    }
}

/* CARD CONTENT */
.card-body {
    padding: 0!important;
}

.card-title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    margin: 0!important;
}

.card-icon {
    float: left;
    margin-right: 1rem;
}

/* Mobile Devices */
@media (max-width: 1199.98px) {
    .card-text {
        font-size: 85%;
    }

    .media {
        display: block!important;
    }
}


.chartLegendSquare {
    font-family: 'Poppins', sans-serif;
    font-size: 0.85rem;
    font-weight: 500;
}
.chartLegendSquare:before {
    content: "";
    width: 20px;
    height: 20px;
    margin: 0 0.5rem 0 0;
    border-radius: 4px;
}

.chartLegendSquare#legendGrey:before {
    background-color: #9d9fa6;
}

.chartLegendSquare#legendBlue:before {
    background-color: #007bff;
}

.chartLegendSquare#legendBlueLight:before {
    background-color: #55a1f2;
}

.chartLegendSquare#legendBlueDark:before {
    background-color: #0050a6;
}

.legenda {
    text-align: center;
    margin: 0 .5rem;
    color: #6c757d;
}

/* GRAPH */
#htmlwidget_container {
    position: static!important;
    top: 0px!important;
    right: 0px!important;
    bottom: 0px!important;
    left: 0px!important;
}

iframe {
    border: 0;
    width: 100%;
    height: 350px;
}

/* FOOTER */
body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 40px; /* height of the footer (check on dev tools)*/
}
  
footer {
    /* sticky bottom */
    position: absolute;
    bottom: 0;
    /* item organization */
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-pack: distribute!important;
    justify-content: space-around!important;
    /* decoration */
    color: #6c757d;
    background-color: #f8f9fa;
    padding: .5rem; /* footer SIZE */
}

.footer-content {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}